@model ShaBoo.Web.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Index";
    <link rel="stylesheet" href="@Url.Content("~/Content/shaboo/index.css")" type="text/css" />
}
<div id="content">
    <div class="left">
        <div id="leftsidebar">
            @foreach (var m in Model.MainCategories)
            {
                <div class="category">
                    <h2 class="ti">
                        @m.Name</h2>
                    <ul class="inline">
                        @foreach (var n in Model.SubCategories.Where(_ => _.FstClassID == m.ID))
                        {
                            <li><a href="@Url.Action("Category", "Document", new { id = n.ID })">@n.Name</a></li>
                        }
                    </ul>
                </div>
            }
            <div class="announce">
                <h3>
                    公告</h3>
                <hr />
                <ul>
                    @foreach (var b in Model.Boards)
                    {
                        <li>@Html.ActionLink(b.Title, "Board", "Home", new { id = b.ID }, null)</li>
                    }
                </ul>
            </div>
            <div class="ad">
                <h3>
                    广告</h3>
                <hr />
                <img src="@Url.Content("~/Content/images/ad.jpg")" alt="advertisement" />
            </div>
        </div>
        <div id="center">
            <div class="populer">
                <h2 class="tib">
                    |热门文档</h2>
                <ul class="inline">
                    <li><a href="">
                        <img src="@Url.Content("~/Content/images/thumb.jpg")" alt="马克思主义基本原理" class="thumb" /></a><a
                            href="" class="populertitle">马克思基本原理</a></li>
                    <li><a href="">
                        <img src="@Url.Content("~/Content/images/thumb.jpg")" alt="马克思主义基本原理" class="thumb" /></a><a
                            href="" class="populertitle">马克思基本原理</a></li>
                    <li><a href="">
                        <img src="@Url.Content("~/Content/images/thumb.jpg")" alt="马克思主义基本原理" class="thumb" /></a><a
                            href="" class="populertitle">马克思基本原理</a></li>
                    <li><a href="">
                        <img src="@Url.Content("~/Content/images/thumb.jpg")" alt="马克思主义基本原理" class="thumb" /></a><a
                            href="" class="populertitle">马克思基本原理</a></li>
                    <li><a href="">
                        <img src="@Url.Content("~/Content/images/thumb.jpg")" alt="马克思主义基本原理" class="thumb" /></a><a
                            href="" class="populertitle">马克思基本原理</a></li>
                    <li><a href="">
                        <img src="@Url.Content("~/Content/images/thumb.jpg")" alt="马克思主义基本原理" class="thumb" /></a><a
                            href="" class="populertitle">马克思基本原理</a></li>
                </ul>
            </div>
            <div class="studyindex">
                @foreach (var m in Model.CategoryWithDocumentses)
                {
                    <div class="indexfile">
                        <h3>@m.MainCategory.Name</h3>
                    </div>
                    <hr />
                    <ul class="indexlist">
                        @foreach (var n in m.Documents)
                        {
                            <li><a href=@Url.Action("Single", "Document", new { id = n.ID })>
                                <img src="@Url.Content("~/Content/images//doctypeicon/ppt.jpg")" alt="PPT" class="doctypeicon" />@n.Title||@n.ID</a><span
                                    class="date">11-18</span></li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("~/Views/Shared/_RightSideBar.cshtml");
    }
    <div class="blank">
    </div>
</div>
