@model ShaBoo.Web.ViewModels.DocumentViewModels.UploadModel
@{ 
    ViewBag.Title = "Upload";
    <link rel="stylesheet" href="@Url.Content("~/Content/shaboo/upload.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/shaboo/fileuploader.css")" type="text/css" />
    <script src="@Url.Content("~/Scripts/shaboo/fileuploader.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $().ready(function () {
            var uploader = new qq.FileUploader({
                element: document.getElementById('file-uploader'),
                action: '/Document/FileUpload',
                allowedExtensions: ['ppt', 'pptx', 'doc', 'docx', 'xls', 'xlsx', 'pdf'],
                sizeLimit: 2147483647,
                multiple: false,
                messages: {
                    typeError: "{file} 不是被允许上传的类型。只允许上传ppt，pptx，doc，docx，xls，xlsx和pdf格式的文件。",
                    sizeError: "{file} 太大了，只能上传小于 {sizeLimit} 的文件。",
                    minSizeError: "{file} 太小了，只能上传大于 {minSizeLimit} 的文件。",
                    emptyError: "{file} 是空的，请选择一个正确的文件。",
                    onLeave: "文件正在被上传，如果你现在离开，传输将被取消。"
                },
                template: '<div class="qq-uploader">' +
              '<div class="qq-upload-drop-area"><span>请将要上传的文件拖到这里。</span></div>' + '<div class="qq-upload-wrap">' +
			  '<div class="qq-upload-upload-text">选择文件：</div>' +
              '<div class="qq-upload-button">浏览</div>' +
			  '<div class="qq-upload-cusmessage" style="display:none;"></div>' +
			  '<div class="cb"></div></div>' +
              '<ul class="qq-upload-list"></ul>' +
			'</div>',
                fileTemplate: '<li>' +
                  '<span class="qq-upload-file"></span>' +
                  '<span class="qq-upload-spinner"></span>' +
                  '<span class="qq-upload-size"></span>' +
                  '<a class="qq-upload-cancel" href="#">Cancel</a>' +
                  '<span class="qq-upload-failed-text">Failed</span>' +
				  '<div class="qq-upload-updating-text">文件正在上传中，请填写以下内容：</div>' +
            '</li>',
                showMessage: function (message) { $('.qq-upload-cusmessage').css('display', 'block'); $('.qq-upload-cusmessage').html(message); }
            });

            $('.qq-upload-button').click(function () { $('.qq-upload-cusmessage').css('display', 'none'); });
        });
    </script>
}
<div id="content">
    <div class="position">
        <ul class="inline">
            <li><a href="">文档首页</a></li>
            <li>|</li>
            <li><a href="">上传文件</a></li>
        </ul>
    </div>
    <div class="upform">
        @using (Html.BeginForm("Upload", "Document", FormMethod.Post, new { id = "UploadForm" }))
        {
            <input id="filename" style="display: none" />
            <div id="file-uploader">
                <noscript>
                    <p style="padding-top: 8px; padding-bottom: 8px;">
                        上传需要Javascript支持，请允许您的浏览器执行Javascript脚本。</p>
                </noscript>
            </div>
            <div class="doctitle">
                <span>@Html.LabelFor(m => m.Title)：</span>
                @Html.TextBoxFor(m => m.Title)
                @Html.ValidationMessageFor(m => m.Title)
                <span class="mustar">*</span>
            </div>
            <div class="doclass">
                <span>文档分类：</span>
                <select id="FstClass" name="FstClass" onchange="javascript:cascadingsnd()">
                </select>
                <select id="SndClass" name="SndClass" onchange="javascript:cascadingtrd()">
                </select>
                <select id="TrdClass" name="TrdClass" style="display: none">
                </select>
            </div>
            <div class="keyword">
                <span>关键词：</span>
                @Html.TextBoxFor(m => m.Tags)
                @Html.ValidationMessageFor(m => m.Tags)
            </div>
            <div class="docintroduction">
                <span>文档简介：</span>
                @Html.TextAreaFor(m => m.Intro)
                @Html.ValidationMessageFor(m => m.Intro)
            </div>
            @Html.HiddenFor(_ => _.FileName)
            <div class="submit">
                <input type="submit" value="上传" id="Submit" class="uploadbutton" />
            </div>
            <div id="result">
            </div>
        }
    </div>
    @{
        Html.RenderPartial("~/Views/Shared/_RightSideBar.cshtml");
    }
    <div class="blank">
    </div>
</div>
@*下面两个是$('form').submit所需要*@
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jQuery-Tags-Input/jquery.tagsinput.js")"></script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/jQuery-Tags-Input/jquery.tagsinput.css")" />
<script type="text/javascript">    $('#Tags').tagsInput();</script>
<script type="text/javascript">
    //生成层叠菜单，第一级菜单
    $(document).ready(
        function PopulateCascadingTable() {
            var urlfst = '@Url.Action("GetFstClasses")';
            var select = $('#FstClass');
            $.ajax({
                type: "POST",
                url: urlfst,
                success: function (returndata) {
                    if (returndata.ok) {
                        select.empty();
                        $.each(returndata.data, function (index, itemData) {
                            select.append($('<option></option>').val(itemData.ID).html(itemData.Name));
                        });
                        select.show('slow');
                        select.change();
                    }
                    else {
                        window.alert(' error : ' + returndata.message);
                    }
                }
            });
        });

    //生成层叠菜单，第二级菜单
    function cascadingsnd() {
        var idfst = $("#FstClass").val();
        var urlsnd = '@Url.Action("GetSndClasses")';
        var select = $('#SndClass');
        $.ajax({
            type: "POST",
            url: urlsnd,
            data: { id: idfst },
            success: function (returndata) {
                if (returndata.ok) {
                    select.empty();
                    $.each(returndata.data, function (index, itemData) {
                        select.append($('<option></option>').val(itemData.ID).html(itemData.Name));
                    });
                    select.show('slow');
                    select.change();
                }
                else {
                    window.alert(' error : ' + returndata.message);
                }
            }
        });
    }

    //生成层叠菜单，第三级菜单
    function cascadingtrd() {
        var idsnd = $("#SndClass").val();
        var urltrd = '@Url.Action("GetTrdClasses")';
        var select = $('#TrdClass');
        $.ajax({
            type: "POST",
            url: urltrd,
            data: { id: idsnd },
            success: function (returndata) {
                if (returndata.ok) {
                    select.empty();
                    $.each(returndata.data, function (index, itemData) {
                        select.append($('<option></option>').val(itemData.ID).html(itemData.Name));
                    });
                    select.show('slow');
                }
                else {
                    window.alert(' error : ' + returndata.message);
                }
            }
        });
    }

    $(function () {
        $('form').submit(function () {
            $("#ajax-progress-dialog").dialog("open");
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#result').html(result);
                    },
                    complete: function () {
                        $("#ajax-progress-dialog").dialog("close");
                    },
                    error: function (req, status, error) {
                        //do what you need to do here if an error occurs
                        $("#ajax-progress-dialog").dialog("close");
                    }
                });
            }
            return false;
        });
    });
</script>
